NNI_expname
data/hpo_exps/
output/
output_single/
data/VOCdevkit/
src/utils/__pycache__/
.vscode/
best_model.pth
best_model.pt

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
